.category-create-form {
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 2%;
    padding: 10px 60px;
    -webkit-box-shadow: inset 0px 0px 20px -3px rgba(173,173,173,1);
    -moz-box-shadow: inset 0px 0px 24px -3px rgba(173,173,173,1);
    box-shadow: inset 0px 0px 8px -3px rgba(173,173,173,4);
}

.category-create-form h5 {
    padding: 10px;
    color: #585858;
}

.card-title {
    color: #585858;
}

.page-date{
   color:grey;
   line-height: 10px;
}

.page-category {
    color: royalblue;
    line-height: 5px;
}
